{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 

body {
    background: #222;
    font-family: 'Montserrat', sans-serif;
}

.card {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #79bfc7, #494a44);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
} 

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size:18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon{
    width: 200px;
    margin-top: 0px;
}

.weather h1 {
    font-size: 50px;
    margin: 0;
}

.weather h2 {
    font-size: 45px;
    margin: 0;
}

.weather {
    display: none;
}

.details{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    margin-top: 10px;
}

.col img {
    width: 90px;
}

.col p {
    font-size: 25px;
}

.col .humidity{
    font-size: 20px;
    margin-bottom: 0px;
}

.col .wind{
    font-size: 20px;
    margin-bottom: 0px;
}

.date-time {
    margin: 0;
}

.current-date {
    font-size: 50px;
}

