*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: #ececec;
}


.card {
    max-width: 400px;
    margin: 100px auto;
    background: linear-gradient(135deg, #878888, #494a44);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    text-align: center;
    flex: 1;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    border: 2px solid #ccc; 
    border-radius: 30px;
    padding: 10px 20px;
    width: 80%;
    font-size: 16px;
    outline: none;
}

.search button {
    border: 2px solid #ccc; 
    border-radius: 30px;
    background: #ffffff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-left: 20px;
}

.search button img {
    width: 14px;
}

.weather {
    display: none;
}

.weather-icon {
    width: 160px;
}

.temp {
    font-size: 36px;
    color: #ececec; 
    margin-top: 10px;
}

.city {
    font-size: 24px;
    color: #ececec;
}

.details {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin-top: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col img {
    width: 70px; 
    margin-bottom: 10px;
}

.col p {
    font-size: 18px;
    color: #ececec; 
    margin: 0; 
}
.col .humidity {
    margin-top: 9px;
}

@media (max-width: 600px) {
    .details {
        flex-direction: column;
        align-items: flex-start;
    }

    .col {
        margin-bottom: 20px;
    }
}
.date-time {
    font-size: 15px;
}

